<p>contact-us works!</p>
<button type="button" (click)="alterDescriptionText()">
   {{ showShortDesciption ? 'SHOW ALL': 'SHOW LESS' }}
  </button>

  <div [ngClass]="{'show-less': showShortDesciption}">
    gfdgdfgfdgdfgdfgdfgdfgdfgdfgdfgfdgdfgdfgdfgfdddddddddddddddddddddddddddddg
    ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    gfdddddddddddddddddddddddddddddddddddddddddddddddddddddhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    dddddddddddddddddddddddddddddddddddddddddddd
    gfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    ffffffffffffffffffffffffff  gfdgdfgfdgdfgdfgdfgdfgdfgdfgdfgfdgdfgdfgdfgfdddddddddddddddddddddddddddddg
    ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    gfdddddddddddddddddddddddddddddddddddddddddddddddddddddhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    dddddddddddddddddddddddddddddddddddddddddddd
    gfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    ffffffffffffffffffffffffff
  </div>