<html>

<body class="bgcolor">

    <mat-toolbar color="primary">
        <span>
            <mat-icon>eco</mat-icon>Pte is Easy
        </span>

        <div class="navbar-spacer"></div>
        <a mat-button routerLink="/pteiseasy">Home</a>
        <a mat-button routerLink="/blogs">Blogs</a>
        <a mat-button routerLink="/about">About-PTE</a>
        <a mat-button routerLink="/contact-us">Contact-us</a>
    </mat-toolbar>


    <div class="container pt-5">

        <div>
            <h1 class="text-center pt-3" id="blog-heading">What is PTE</h1>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <img class="img-left pull-left mr-5" style="width: 500px; border-radius: 15px; height: 400px;"
                    src="../../../assets/Home Page/girl.jpg">
            </div>
            <div class="col-sm-7">
                <p class="pl-5">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui.
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui..</p>

                <p class="pl-5">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui.
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui..</p>

                <p class="pl-5">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui.
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui..</p>
            </div>

            <div class="pt-3">
                <p class="pl-5">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui.
                    Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui..</p>
            </div>
        </div>
    </div>
</body>

<body class="bgcolor1">
    <div class="container pt-3">
    <h2 class="text-left"> Pros OF PTE</h2>
    <span>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
        euismod. Donec sed odio dui
        Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui.
        Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui..</span>
        <br>
        <br>
        <span>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
        euismod. Donec sed odio dui
        Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui.
        Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui..</span>
        <br>
        <br>
        <span>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis
        euismod. Donec sed odio dui
        Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui.
        Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui..</span>
</div>
</body>

</html>